*{

    margin:0px ;
    padding:0px;
    list-style: none;
}
.bgimage{
    background-color: white;
    background-size:100% 100%;
    width:100%;
    height:100vh;
}
*:before,
*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.body1{
    background-color:black;
    width:100%;
    height:100%;
    margin:auto;
    padding:0px;
}
.body2{
    background-color:white;
    margin-left:600px;
    margin-top: 350px;
    padding:0px;
    font-family: 'Raleway Dots', cursive;
    font-size:20px;
}
#logo{
     width:18%;
     height:80px;
     margin-left:-600px;
     margin-top:10px;
     cursor: pointer;
}
.top{
    left:775px;
    position:relative;
    float: left;
    color:rgb(199, 193, 193);
    font-family: 'Yantramanav', sans-serif;
    padding:30px;
    margin-top:-10px;
    text-decoration: none;
}
.mainhead{
    padding-right:0px;
    top:100px;
    font-weight: lighter;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 13px;
}
a:after{
    content:"";
    position:absolute;
    background-color:grey;
    height:1px;
    width:0px;
    left:0px;
    bottom:35px;
    transition-duration: 0.5s;

    
}
.mainhead:hover{
    color:grey;
}

a:hover:after{
    width:100%;

}
.bgvid{
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
}